#cabecera {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	background-color: #1f1f1f;
	border-bottom: 1px solid #333;
}

#cabecera h2 {
	margin: 0;
	color: #ffffff;
}

.datos-usuario {
	display: flex;
	gap: 15px;
	align-items: center;
}

.admin {
	background-color: rgba(3, 218, 198, 0.1);
	color: #03dac6;
	padding: 5px 12px;
	border-radius: 20px;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	border: 1px solid #03dac6;
}

.img-usuario {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	object-fit: cover;
	border: 5px solid #252525;
	background-color: #fff;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.btn-login {
	text-decoration: none;
	color: black;
	background-color: #bb86fc;
	padding: 8px 16px;
	border-radius: 4px;
	font-weight: bold;
	transition: 0.3s;
}

.btn-login:hover {
	color: white;
	background-color: #5600e8;
}

.btn-cerrar {
	background-color: #cf6679;
	color: #000;
	border: none;
	padding: 8px 16px;
	border-radius: 4px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s;
}

.btn-cerrar:hover {
	color: white;
	background-color: #5c1f29;
}
