nav {
	background-color: #2c2c2c;
	border-bottom: 1px solid #333;
	padding: 15px 2rem;
}

#links {
	display: flex;
	gap: 20px;
}

#links a {
	text-decoration: none;
	color: #b0b0b0;
	font-size: 1rem;
	padding: 8px 12px;
	border-radius: 4px;
	transition: 0.2s;
	border: 1px solid;
	background-color: #bb86fc;
	color: black;
}

#links a:hover {
	background-color: #3d3d3d;
	color: #ffffff;
}
