#divForm {
	display: flex;
	flex-direction: column;
	justify-self: center;
	margin-top: 100px;
	padding: 20px;
	width: auto;
	border-radius: 10px;
	background-color: white;
}

.error {
	color: red;
	border: 1px solid red;
}

.errores {
	background-color: red;
	border-radius: 10px;
	font-weight: bold;
	color: white;
	margin-top: 10px;
	padding-left: 10px;
}
