body {
	display: flex;
	justify-content: center;
	background-color: lightgray;
	gap: 100px;
}

#colores {
	background-color: white;
	border-radius: 5px;
}

#lienzo {
	display: block;
	width: fit-content;
	background-color: white;
	border-radius: 10px;
}

#tabla {
	table-layout: fixed;
	border-collapse: collapse;
}

.elemento {
	width: 10px;
	height: 10px;
	border: 1px solid lightgray;
}

.seleccionado circle {
	filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.6));
}
