.card-footer-agregar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
	width: 100%;
	border-top: 1px solid #444;
	padding-top: 10px;
}

.selector-cantidad {
	display: flex;
	align-items: center;
	background-color: #1e1e1e;
	border-radius: 20px;
	border: 1px solid #555;
	margin-right: 10px;
	height: 30px;
	overflow: hidden;
}

.btn-cantidad {
	background: none;
	border: none;
	color: #fff;
	width: 25px;
	height: 100%;
	cursor: pointer;
	font-size: 1.1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background 0.2s;
}

.btn-cantidad:hover {
	background-color: #333;
	color: #bb86fc;
}

.input-cantidad-visual {
	width: 30px;
	text-align: center;
	font-weight: bold;
	color: #03dac6;
	font-size: 0.9rem;
	user-select: none;
}

.btn-add-carrito {
	background-color: #03dac6;
	border: none;
	border-radius: 50%;
	width: 38px;
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	box-shadow: 0 0 8px rgba(3, 218, 198, 0.3);
	transition: all 0.2s ease;
}

.btn-add-carrito:hover {
	transform: scale(1.1);
	background-color: #01bda7;
	box-shadow: 0 0 12px rgba(3, 218, 198, 0.6);
}

.btn-add-carrito img {
	width: 18px;
	height: 18px;
	filter: brightness(0);
}

.lista-detalle-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 15px;
}

.producto-mini-card {
	background-color: #252525;
	border: 1px solid #333;
	border-left: 4px solid #bb86fc;
	border-radius: 6px;
	padding: 10px 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: transform 0.2s;
}

.producto-mini-card:hover {
	background-color: #2f2f2f;
	transform: translateX(-3px);
}

.mini-info {
	display: flex;
	flex-direction: column;
}

.mini-titulo {
	font-size: 0.95rem;
	color: #fff;
	margin: 0;
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 8px;
}

.mini-detalle {
	font-size: 0.8rem;
	color: #999;
	margin-top: 2px;
}

.badge-cantidad {
	background-color: #bb86fc;
	color: #000;
	font-weight: bold;
	font-size: 0.75rem;
	margin-top: 15px;
	margin-right: 3px;
	padding: 1px 6px;
	border-radius: 4px;
}

.btn-mini-borrar {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: all 0.3s ease;
	opacity: 0.7;
}

.btn-mini-borrar img {
	width: 20px;
	height: 20px;
	display: block;
	filter: brightness(0) invert(1);
	transition:
		transform 0.2s ease,
		filter 0.2s ease;
}

.btn-mini-borrar:hover {
	opacity: 1;
	transform: scale(1.1);
}

.btn-mini-borrar:hover img {
	filter: invert(56%) sepia(61%) saturate(541%) hue-rotate(308deg) brightness(87%) contrast(93%);
}

.btn-mini-borrar:active {
	transform: scale(0.95);
}
