#piezas {
	display: flex;
	flex-wrap: wrap;
	justify-self: center;
	justify-content: center;
	width: 600px;
	height: 338px;
	border: 2px solid black;
	padding: 5px;
	margin: 20px;
}

#piezas img {
	flex: 0 0 100px;
	margin: 5px 5px 5px 5px;
	width: 200px;
	height: 100px;
	border: 1px solid;
	cursor: pointer;
}

#panel {
	display: grid;
	grid-template-columns: repeat(3, max-content);
	justify-content: center;
}

.soltable {
	width: 200px;
	height: 100px;
	background: rgb(177, 175, 179);

	margin: 1px 1px 0 0;
}

.soltable img {
	width: 200px;
	height: 100px;
	cursor: pointer;
}

#boton {
	justify-self: center;
	padding-top: 20px;
}

button {
	background-color: #ff4b4b;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 8px;
	padding: 10px 18px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

button:hover {
	transform: scale(1.05);
}

button:active {
	transform: scale(0.95);
}

h2 {
	font-family: Cambria;
	font-weight: bold;
	font-size: 30px;
	justify-self: center;
}
